body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #007BFF;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

#answers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.answer-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.answer-button:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

.answer-button:active {
    background-color: #3e8e41;
    transform: translateY(1px);
}

#score, #high-score {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    color: #007BFF;
}
#contenedor-anuncio {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 250px;
    height: auto;
    background-color: rgb(238, 212, 78);
    border: 1px solid #000000;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(71, 69, 69, 0.2);
    font-family: fantasy, sans-serif;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    border-radius: 5px;
}

